# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# IDE
.idea/

# Build files
dist/
build/

# Coverage
.coverage
htmlcov/

# SQLite
*.db